:root {
  --base-font-size: 18;
  --base-font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
  --base-line-height: 1.5;
  --base-font-weight: 400;
  --base-letter-spacing: -.004em;
  --header-font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  --header-font-weight: 700;
  --header-scale: 1.67;
  --leading-space: calc(var(--base-line-height) * 1rem);
  --max-line-length: 36em;
}

html {
  color: rgba(0, 0, 0, .8);
  font-weight: var(--base-font-weight);
  font-style: normal;
  font-size: calc(var(--base-font-size) / 16 * 100%);
  font-family: var(--base-font-family);
  line-height: var(--base-line-height);
  -webkit-font-smoothing: antialiased;
  text-size-adjust: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  letter-spacing: calc(var(--base-letter-spacing) / 2);
  font-weight: var(--header-font-weight);
  font-family: var(--header-font-family);
  line-height: calc(.8 * var(--base-line-height));
}

h1 {
  margin-top: calc(2 * var(--leading-space));
  font-size: calc(2.5 * var(--header-scale) * 1rem);
}

h2 {
  margin-top: calc(1.8 * var(--leading-space));
  font-size: calc(2.2 * var(--header-scale) * 1rem);
}

h3 {
  margin-top: calc(1.6 * var(--leading-space));
  font-size: calc(1.7 * var(--header-scale) * 1rem);
}

h4 {
  margin-top: calc(1.4 * var(--leading-space));
  font-size: calc(1.5 * var(--header-scale) * 1rem);
}

h5 {
  margin-top: calc(1.1 * var(--leading-space));
  font-size: calc(1.3 * var(--header-scale) * 1rem);
}

h6 {
  margin-top: calc(1.1 * var(--leading-space));
  font-size: calc(var(--header-scale) * 1rem);
}

p {
  margin-top: var(--leading-space);
  margin-bottom: 0;
  max-width:var(--max-line-length);
  letter-spacing: var(--base-letter-spacing);
}

ul, ol {
  margin-top: var(--leading-space);
  margin-bottom: var(--leading-space);

  & ul, & ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

table {
  margin-top: var(--leading-space);
  border-spacing: 0;
  border-collapse: collapse;

  & td, & th {
    padding: 0;
  }
}

blockquote {
  margin-top: var(--leading-space);
  margin-bottom: var(--leading-space);
}

code {
  vertical-align: bottom;
}
